<div class="row">
    <div class="col-12">
        <img [src]="recipees.imagePath" alt="{{recipees.name}}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1>{{recipees.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-group dropdown">
            <button type="button"
             class="btn btn-primary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage Recipe
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a href="#">To Shopping list</a></li>
                <li><a href="#">Edit recipe</a></li>
                <li><a href="#">Delete recipe</a></li>

            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h6>{{recipees.description}}</h6>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h6>Ingredients</h6>
    </div>
</div>